<h1>部屋</h1>

<p>
使用テキスト
<br>
<img src="
http://images-jp.amazon.com/images/P/<%= params[:textbook] %>.09.TZZZZZZZ.jpg">
<p>

<p>部屋</p>

<%= link_to "開始" ,new_studysession_path %>
<%= link_to "Home" ,root_path %>