<h1>統計</h1>

<%= "合計学習時間: #{(@total_minutes_all/60).to_i}時間" %>
<br>
<%= "総セッション回数: #{@count_all}回"%>
<br>

<h4>デイリー</h4>
  <% @count_daily.each do |i,n| %>
    <%=  "#{i} : #{n}回 : #{(@total_minutes_daily[i]/60).to_i}時間" %>
    <br>
  <% end %>