<h1>STARDY</h1>
<h3>地球上すべてが勉強場所だ</h3>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<br>
<%= link_to "Sign in with Twitter",  user_omniauth_authorize_path(:twitter) %>


<br>


<%= link_to "今すぐ開始" , ssession_path %>
<br>
<%= link_to "セッション中" , studysessions_path %>